In [ ]:
# Topic : List
#             List is a type of data structures in which we add different kind of data i-e: integer,float,string etc.
#  List is mutable and store data in square bracket seperated by comma.


# Topic : List
marks = [11,22,33,44,55,66,77,88,99]
print("marks : " , marks)
print(type(marks))
print(len(marks))                         # Note:
print(marks[1])                           # strings,tuple are immutable and lists are mutable.

marks :  [11, 22, 33, 44, 55, 66, 77, 88, 99]
<class 'list'>
9
22

In [ ]:
# List mutable example;
student = ["Ali",100,"Mathematics","Pass"]
print(student)
print(len(student))
print(student[0])
student[0] = "Hamza" # Mutation
print(student)

['Ali', 100, 'Mathematics', 'Pass']
4
Ali
['Hamza', 100, 'Mathematics', 'Pass']

In [1]:
# List slicing;                  similar to string
#             It means to break the data in the list.
numbers = ["ali" ,111,"usman",222,"shah",333]
print(numbers[0:4]) # Forward slicing
print(numbers[-4:-1]) # Reverse slicing

['ali', 111, 'usman', 222]
['usman', 222, 'shah']

In [2]:
# List Methods
# Methods are some specific commands which is used in each data type
# Methods are specific in each and every data type or they may be same but not all.
# For instance: if a one method is same for "list" may not be same for "tupple" or it may be same.

In [3]:
# apend function
a = [111,222,333,444,555,]
a.append(666)
print(a)
 # example1
a1 = ["apple:","peach","banana"]
a1.append("fruits")
print(a1)

[111, 222, 333, 444, 555, 666]
['apple:', 'peach', 'banana', 'fruits']

In [4]:
# insert function
b = [111,222,333,444,555,]
b.insert(1,999)
print(b)
# Example1
b1 = ["apple","peach","banana"]
b1.insert(0 ,"fruits")
print(b1)

[111, 999, 222, 333, 444, 555]
['fruits', 'apple', 'peach', 'banana']

In [5]:
# remove fuction
c = [111,222,333,444,555]
c.remove(444)
print(c)
 # example1
c1 =["apple","peach","banana"]
c1.remove("apple")
print(c1)

[111, 222, 333, 555]
['peach', 'banana']

In [6]:
# remove fuction
c = [111,222,333,444,555]
c.remove(444)
print(c)
 # example1
c1 =["apple","peach","banana"]
c1.remove("apple")
print(c1)

[111, 222, 333, 555]
['peach', 'banana']

In [7]:
# sort function     for ascending order;
# IN numerical numbers example
e = [222,000,999,333,444,555,111]
e.sort()
print(e)
# Example1
# In alphabetical values
e1 = ["vegetables", "fruits", "mango", "pomegranate", "apple", "ladyfinger"]
e1.sort()
print(e1)

[0, 111, 222, 333, 444, 555, 999]
['apple', 'fruits', 'ladyfinger', 'mango', 'pomegranate', 'vegetables']

In [8]:
# sort reverse function;  for the descending order
# Example of numerical numbers;
f = [2, 4, 1, 9, 4, 55, 0, 50, 100]
f.sort(reverse=True)
print(f)
# Example2 of alphabatical values;
f1 = ["e","w","f","t","o","r","q","x","z"]
f1.sort(reverse=True)
print(f1)

[100, 55, 50, 9, 4, 4, 2, 1, 0]
['z', 'x', 'w', 't', 'r', 'q', 'o', 'f', 'e']

In [9]:
# Reverse function :
#                   It reverses all the data in the list.s
g = [1, 2, 3, 4, 5, 6, 7, 8, 9]
g.reverse()
print(g)
# Example1           Alphabatical order;
g1 = ["ali","usman","umar","zaid","khan"]
g1.reverse()
print(g1)
# Example3    As a float example
g3 = [1.2, 3.3, 3.1, 4.5, 6.5, 9.3]
g3.reverse()
print(g3)

[9, 8, 7, 6, 5, 4, 3, 2, 1]
['khan', 'zaid', 'umar', 'usman', 'ali']
[9.3, 6.5, 4.5, 3.1, 3.3, 1.2]

In [10]:
# Count function:
#                It counts the data in the list that how much the data is repeated.
h = [22,33,44,55,66,77,77,77,88]
h1=h.count(77)
print(h1)
# Example3 Alphabatical order;
h3 = ["ali","raja","usman","raja","musa"]
h4=h3.count("raja")
print(h4)

3
2

In [11]:
# Clear function
#               It removes the all data store in the list.
j = [2, 4.4, 2.1, 5, 5.6, 7, 6.4]
j.clear()
print(j)
# Example2  Alphabatical values
j1 = ["apple","peach","pomegranate"]
j1.clear()
print(j1)

[]
[]

In [12]:
# Copy function:
#               It is used to copy the list data.
i = [9,4,3,2,5]
i.copy()
print(i)
# Example1 Alphabatical value
i1 = ["ghee","oil","vegetable"]
i1.copy()
print(i1)

[9, 4, 3, 2, 5]
['ghee', 'oil', 'vegetable']

In [13]:
# index function:
#
k = [333,222,111,444,555]
k1=k.index(444)
print(k1)

3

In [14]:
# Converting method of string to list.
# We can convert the string into list on the following way i-e;
variable = "wxyz"
variable = list(variable)
print(variable)
print(type(variable))

['w', 'x', 'y', 'z']
<class 'list'>